

.App {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.text-muted.descripCls.card-text {
  font-size: x-small;
}
.card-body {
  height: 10rem;
}
img.card-img-top {
  height: 16rem;
}
.card-body {
  padding: 0.5rem !important;
}
.wrapper {
  display: flex;
  margin-left: 7%;
  margin-top: 2%;
  flex-wrap: wrap;

  /* display: flex;
  margin-left: 4%;
  margin-top: 2%;
  flex-wrap: wrap; */
}
button.btn.btn-outline-info {
  margin-right: 12px;
}
input.mr-sm-2.TextFiled.form-control {
  margin-top: 15px;
}

.MuiBox-root-2 {
  border-color: transparent;
  margin-bottom: 0px !important;
  margin-right: 15px;
}
